{:highlights [{:id #uuid "651efa38-15c7-4909-91aa-4e1ce62381dc",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 518.0217895507812,
                                     :y2 236.71875,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 309.22705078125,
                                   :y1 213.40625,
                                   :x2 518.0217895507812,
                                   :y2 225.40625,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 224.71875,
                                   :x2 351.38671875,
                                   :y2 236.71875,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}),
                          :page 3},
               :content {:text "At the input layer, N previous words are encoded using 1-of-V coding, where V is size of the vocabulary."},
               :properties {:color "yellow"}}
              {:id #uuid "651efc94-037c-492c-ac5b-480d6a2d8609",
               :page 3,
               :position {:bounding {:x1 108,
                                     :y1 427,
                                     :x2 523,
                                     :y2 545,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1696529556361},
               :properties {:color "yellow"}}
              {:id #uuid "651eff72-1cff-4d98-9fd7-2f0d478990fb",
               :page 4,
               :position {:bounding {:x1 107,
                                     :y1 413,
                                     :x2 522,
                                     :y2 565,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1696530289768},
               :properties {:color "yellow"}}
              {:id #uuid "651eff96-306a-4e7e-998b-2027136c987a",
               :page 5,
               :position {:bounding {:x1 120,
                                     :y1 99,
                                     :x2 311,
                                     :y2 340,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1696530326182},
               :properties {:color "yellow"}}
              {:id #uuid "651f008e-ce8b-4505-a722-5711b01fbb12",
               :page 5,
               :position {:bounding {:x1 337,
                                     :y1 107,
                                     :x2 508,
                                     :y2 334,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1696530574089},
               :properties {:color "yellow"}}
              {:id #uuid "651f0154-5b91-43c3-a82b-7d606a59d354",
               :page 4,
               :position {:bounding {:x1 108,
                                     :y1 625,
                                     :x2 522,
                                     :y2 755,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1696530771731},
               :properties {:color "yellow"}}
              {:id #uuid "651f0168-1bb2-43a0-b954-244eb252e8c8",
               :page 5,
               :position {:bounding {:x1 109,
                                     :y1 409,
                                     :x2 522,
                                     :y2 446,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1696530792083},
               :properties {:color "yellow"}}
              {:id #uuid "65215800-45d8-45c3-bb47-eb27113bb7aa",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 398,
                                     :x2 518.0228271484375,
                                     :y2 679.2109375,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects ({:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 417.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 449.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 465.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 481.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 497.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 494,
                                   :x2 0,
                                   :y2 513.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 510,
                                   :x2 0,
                                   :y2 529.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 545.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 472.79779052734375,
                                   :y1 559.6796875,
                                   :x2 518.0155029296875,
                                   :y2 571.6796875,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 570.9921875,
                                   :x2 518.0228271484375,
                                   :y2 582.9921875,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 582.2265625,
                                   :x2 418.1247863769531,
                                   :y2 594.2265625,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 599.6484375,
                                   :x2 518.0228271484375,
                                   :y2 611.6484375,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 610.8828125,
                                   :x2 517.9757080078125,
                                   :y2 622.8828125,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 622.1953125,
                                   :x2 517.9876708984375,
                                   :y2 634.1953125,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 633.4296875,
                                   :x2 517.9844970703125,
                                   :y2 645.4296875,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 644.6640625,
                                   :x2 518.0223388671875,
                                   :y2 656.6640625,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 655.9765625,
                                   :x2 518.0146484375,
                                   :y2 667.9765625,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 111.015625,
                                   :y1 667.2109375,
                                   :x2 231.308349609375,
                                   :y2 679.2109375,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}),
                          :page 5},
               :content {:text "We further denote two pairs of words with the same relationship as a question, as we can ask: ”What is the word that is similar to small in the same sense as biggest is similar to big?” Somewhat surprisingly, these questions can be answered by performing simple algebraic operations with the vector representation of words. To ﬁnd a word that is similar to small in the same sense as biggest is similar to big, we can simply compute vector X = vector(”biggest”) − vector(”big”) + vector(”small”). Then, we search in the vector space for the word closest to X measured by cosine distance, and use it as the answer to the question (we discard the input question words during this search). When the word vectors are well trained, it is possible to ﬁnd the correct answer (word smallest) using this method."},
               :properties {:color "yellow"}}],
 :extra {:page 11}}
