{:highlights [{:id #uuid "64d4d0a1-5f1a-4118-9b21-dc8ebea0149f",
               :page 4,
               :position {:bounding {:x1 43,
                                     :y1 66,
                                     :x2 298,
                                     :y2 153,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1691668641428},
               :properties {:color "yellow"}}
              {:id #uuid "64d4d261-575b-4bb7-8cbd-2e2d57dea9ae",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 286.59478759765625,
                                     :y2 324.265625,
                                     :width 609,
                                     :height 788.1176470588235},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 225.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 61.7578125,
                                   :y1 229.4921875,
                                   :x2 283.203125,
                                   :y2 240.9921875,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 241.390625,
                                   :x2 284.959228515625,
                                   :y2 252.890625,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 253.2890625,
                                   :x2 285.29901123046875,
                                   :y2 264.7890625,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 273.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 265.1796875,
                                   :x2 284.95458984375,
                                   :y2 276.6796875,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 289.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 277.078125,
                                   :x2 284.9640197753906,
                                   :y2 288.578125,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 288.9765625,
                                   :x2 286.59478759765625,
                                   :y2 300.4765625,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 300.875,
                                   :x2 284.96087646484375,
                                   :y2 312.375,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 609,
                                   :height 788.1176470588235}
                                  {:x1 49.859375,
                                   :y1 312.765625,
                                   :x2 129.81631469726562,
                                   :y2 324.265625,
                                   :width 609,
                                   :height 788.1176470588235}),
                          :page 4},
               :content {:text "Assume a learned feature x from class 1 is given and θi is the angle between x and Wi, it is known that the modified softmax loss requires cos(θ1) > cos(θ2) to correctly classify x. But what if we instead require cos(mθ1) > cos(θ2) where m ≥ 2 is a integer in order to correctly classify x? It is essentially making the decision more stringent than previous, because we require a lower bound4 of cos(θ1) to be larger than cos(θ2)."},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
