{:highlights [{:id #uuid "6459361b-182b-4d8c-8068-740696b68193",
               :page 1,
               :position {:bounding {:x1 307,
                                     :y1 175,
                                     :x2 566,
                                     :y2 358,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1683568155124},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
