{:highlights [{:id #uuid "64c7fea2-3483-4264-a14d-c6e36007eb86",
               :page 2,
               :position {:bounding {:x1 214,
                                     :y1 166,
                                     :x2 397,
                                     :y2 266,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1690828450312},
               :properties {:color "yellow"}}
              {:id #uuid "64c7ff26-6924-426a-a59f-b12e2b2d3708",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 551.5870361328125,
                                     :y2 584.203125,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 241.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 257.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 477.7789001464844,
                                   :y1 533.984375,
                                   :x2 551.5870361328125,
                                   :y2 549.984375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 551.09375,
                                   :x2 551.499755859375,
                                   :y2 567.09375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 568.203125,
                                   :x2 374.1541442871094,
                                   :y2 584.203125,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 2},
               :content {:text "Discriminative power characterizes features in both the compact intra-class variations and separable inter-class differences, as shown in Fig. 1"},
               :properties {:color "yellow"}}
              {:id #uuid "64c7ff42-93a2-4a6b-b3ba-c335cb6c5b1f",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 286,
                                     :x2 551.5634765625,
                                     :y2 652.671875,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 305.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 515.467529296875,
                                   :y1 602.4375,
                                   :x2 551.5634765625,
                                   :y2 618.4375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 619.5625,
                                   :x2 551.2750854492188,
                                   :y2 635.5625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 636.671875,
                                   :x2 409.3346862792969,
                                   :y2 652.671875,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 2},
               :content {:text "However, the softmax loss only encourage the separability of features. The resulting features are not sufficiently effective for face recognition."},
               :properties {:color "yellow"}}
              {:id #uuid "64c7ff8e-a396-4142-ac77-76013ce02bfb",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 350,
                                     :x2 551.515625,
                                     :y2 772.4765625,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 369.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 382,
                                   :x2 0,
                                   :y2 401.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 398,
                                   :x2 0,
                                   :y2 417.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 228.15185546875,
                                   :y1 670.90625,
                                   :x2 551.4989013671875,
                                   :y2 686.90625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 688.015625,
                                   :x2 551.5145263671875,
                                   :y2 704.015625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 705.125,
                                   :x2 551.515625,
                                   :y2 721.125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 722.25,
                                   :x2 550.6500244140625,
                                   :y2 738.25,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 739.359375,
                                   :x2 551.48193359375,
                                   :y2 755.359375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 56.40625,
                                   :y1 756.4765625,
                                   :x2 313.27716064453125,
                                   :y2 772.4765625,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 2},
               :content {:text "Because the stochastic gradient descent (SGD) [19] optimizes the CNNs based on mini-batch, which can not reflect the global distribution of deep features very well. Due to the huge scale of training set, it is impractical to input all the training samples in every iteration. As alternative approaches, contrastive loss [10,29] and triplet loss [27] respectively construct loss functions for image pairs and triplet. "},
               :properties {:color "yellow"}}
              {:id #uuid "64c80859-649c-4011-8cf6-7deeca099d8e",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 302,
                                     :x2 571.477783203125,
                                     :y2 674.4453125,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 321.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 493.4015808105469,
                                   :y1 641.3359375,
                                   :x2 571.477783203125,
                                   :y2 657.3359375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 658.4453125,
                                   :x2 500.1324462890625,
                                   :y2 674.4453125,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 5},
               :content {:text "he formulation effectively characterizes the intra-class variations. Ideally, the"},
               :properties {:color "yellow"}}
              {:id #uuid "64c8087b-8bcc-4da3-a83c-b991ce0085e6",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 318,
                                     :x2 571.8140258789062,
                                     :y2 742.9140625,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 337.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 353.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 369.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 385.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 531.28125,
                                   :y1 658.4453125,
                                   :x2 571.780517578125,
                                   :y2 674.4453125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 675.5703125,
                                   :x2 571.7996826171875,
                                   :y2 691.5703125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 692.6796875,
                                   :x2 571.8140258789062,
                                   :y2 708.6796875,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 709.7890625,
                                   :x2 571.5120239257812,
                                   :y2 725.7890625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 726.9140625,
                                   :x2 182.62449645996094,
                                   :y2 742.9140625,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 5},
               :content {:text "should be updated as the deep features changed. In other words, we need to take the entire training set into account and average the features of every class in each iteration, which is inefficient even impractical. Therefore, the center loss can not be used directly."},
               :properties {:color "yellow"}}
              {:id #uuid "64c8092c-1c62-4d2a-9e50-cb3c557244df",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 414,
                                     :x2 571.851318359375,
                                     :y2 845.6015625,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 414,
                                   :x2 0,
                                   :y2 433.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 449.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 465.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 481.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 488.72210693359375,
                                   :y1 761.1328125,
                                   :x2 571.766357421875,
                                   :y2 777.1328125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 778.2578125,
                                   :x2 571.827392578125,
                                   :y2 794.2578125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 795.3671875,
                                   :x2 571.851318359375,
                                   :y2 811.3671875,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 812.4921875,
                                   :x2 571.7625122070312,
                                   :y2 828.4921875,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 829.6015625,
                                   :x2 240.34567260742188,
                                   :y2 845.6015625,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 5},
               :content {:text " First, instead of updating the centers with respect to the entire training set, we perform the update based on mini-batch. In each iteration, the centers are computed by averaging the features of the corresponding classes (In this case, some of the centers may not update). "},
               :properties {:color "yellow"}}
              {:id #uuid "64c80939-d8a1-4878-a245-7f57feeb7d1a",
               :page 5,
               :position {:bounding {:x1 0,
                                     :y1 478,
                                     :x2 571.8712615966797,
                                     :y2 862.7109375,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 497.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 240.33677673339844,
                                   :y1 829.6015625,
                                   :x2 571.8712615966797,
                                   :y2 845.6015625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 76.6953125,
                                   :y1 846.7109375,
                                   :x2 571.822265625,
                                   :y2 862.7109375,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 5},
               :content {:text "Second, to avoid large perturbations caused by few mislabelled samples, we use a scalar α to control the learning rate of the centers."},
               :properties {:color "yellow"}}
              {:id #uuid "64c811db-8a51-4230-a97f-6260423ea872",
               :page 6,
               :position {:bounding {:x1 40,
                                     :y1 442,
                                     :x2 564,
                                     :y2 696,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1690833370747},
               :properties {:color "yellow"}}
              {:id #uuid "64d4638c-941f-4cbb-8584-d20ee409c776",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 110,
                                     :x2 571.8699951171875,
                                     :y2 655.890625,
                                     :width 629,
                                     :height 953.6457154562215},
                          :rects ({:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 129.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 145.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 142,
                                   :x2 0,
                                   :y2 161.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 350.2421875,
                                   :y1 571.4375,
                                   :x2 571.77392578125,
                                   :y2 587.4375,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 90.9609375,
                                   :y1 588.546875,
                                   :x2 571.8095703125,
                                   :y2 604.546875,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 90.9609375,
                                   :y1 605.65625,
                                   :x2 571.8699951171875,
                                   :y2 621.65625,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 90.9609375,
                                   :y1 622.78125,
                                   :x2 571.7818603515625,
                                   :y2 638.78125,
                                   :width 629,
                                   :height 953.6457154562215}
                                  {:x1 90.9609375,
                                   :y1 639.890625,
                                   :x2 339.0711669921875,
                                   :y2 655.890625,
                                   :width 629,
                                   :height 953.6457154562215}),
                          :page 7},
               :content {:text "If we only use the softmax loss as supervision signal, the resulting deeply learned features would contain large intra-class variations. On the other hand, if we only supervise CNNs by the center loss, the deeply learned features and centers will degraded to zeros (At this point, the center loss is very small). "},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
