{:highlights [{:id #uuid "6459341a-0701-4bc5-b0ba-a0fc49f966b0",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 46,
                                     :x2 278.9005126953125,
                                     :y2 226.484375,
                                     :width 628.9999999999999,
                                     :height 813.9999999999999},
                          :rects ({:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 77.453125,
                                   :y1 202.1953125,
                                   :x2 277.3011474609375,
                                   :y2 214.1953125,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}
                                  {:x1 77.453125,
                                   :y1 214.484375,
                                   :x2 278.9005126953125,
                                   :y2 226.484375,
                                   :width 628.9999999999999,
                                   :height 813.9999999999999}),
                          :page 1},
               :content {:text "This paper presents SimCLR: a simple framework for contrastive learning of visual representations."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
